html,
body {
  font-family: Lato, sans-serif;
  line-height: 160%;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1260px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}

.overlay--show {
  visibility: visible;
  opacity: 1;
}

.burger {
  display: none;
}

.main__about {
  padding: 180px 0 160px;
}

.main__derections {
  padding-bottom: 180px;
}

.main__cert {
  margin-bottom: -46px;
}

.main__team {
  padding: 160px 0px 180px;
}

.main__testimonials {
  padding-bottom: 195px;
}

.main__companies {
  padding-bottom: 177px;
}

.main__program {
  padding: 115px 0 185px;
}

.main__bolg {
  padding-bottom: 200px;
}

.main__info {
  padding-bottom: 180px;
}

.main__question {
  padding-bottom: 180px;
}

.main__footer {
}

.button {
  display: inline-block;
  letter-spacing: 0.5px;
  line-height: 52px;
  font-weight: 700;
  padding: 0 40px;
  color: #fff;
  border-radius: 4px;
  background-color: #b66041ea;
  white-space: nowrap;
  transition: 0.3s;
}

.button:hover {
  transform: scale(1.05);
}

.button--empt {
  background-color: transparent;
  color: #b66041ea;
  border-radius: 4px;
  border: 1px solid #b66041ea;
}

.heading {
}

.heading__subtitlr {
  line-height: 150%;
  margin-bottom: 8px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
}

.heading__title {
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  transition: all 0.5s;
}

.heading__title:hover {
  color: #b66041ea;
  text-shadow: -5px 3px 4px black;
}

.heading--text-crnter {
  text-align: center;
}

/* ============================== HEADER TOP ============================== */

.header {
  font-weight: 700;
  background: rgba(187, 161, 137, 0.5);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.header__logo {
  margin-right: 60px;
}

.header__nav {
  margin-right: 40px;
}

.header__nav-list {
  display: flex;
}

.header__nav-item {
  margin-right: 40px;
}

.header__nav-item:last-child {
  margin-right: 0;
}

.header__nav-link {
  font-weight: 700;
  list-style: 1.6;
  color: black;
  white-space: nowrap;
  transition: all 0.3s;
}

.header__nav-link:hover {
  color: #aa3232;
}

.header__btn-box {
  display: flex;
  align-items: center;
}

.header__top-btn {
  margin-right: 36px;
}

.header__user-nav {
  position: relative;
  padding-left: 28px;
}

.header__user-nav::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: block;
  background: url(../images/icons/user-icon.svg) no-repeat;
  width: 20px;
  height: 20px;
}

.header__user-btn {
  white-space: nowrap;
  line-height: 1.6;
  transition: all 0.3s;
}

.header__user-btn:hover {
  color: #aa3232;
}

/* -------------------------------header__body ----------------------------------------- */

.header__body {
  flex: 1 1 auto;
}

.header__body-inner {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto 0;
}

.header__content {
  margin-right: 30px;
}

.header__play {
  display: inline-flex;
  align-items: center;
  margin-bottom: 24px;
}

.header__play svg {
  margin-right: 16px;
  border-radius: 50%;
  transition: all 0.3s;
}

.header__play:hover svg {
  box-shadow: 0 0 0 16px rgba(160, 36, 36, 0.12);
}
.header__title {
  font-weight: 900;
  font-size: 64px;
  line-height: 120%;
  letter-spacing: 1px;
  max-width: 500px;
  margin-bottom: 60px;
}

.header__content-buttons {
  display: flex;
}

.header__content-btn {
  margin-right: 24px;
}

.header__content-btn:last-child {
  margin-right: 0;
}

.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}

.header__row > span {
  background-color: #aa3232;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 15px;
}

.header__row-item {
  display: flex;
  align-items: center;
}

.header__row-item span {
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  margin-right: 12px;
}

/* ----------------------------------------------------------about------------------------------------------------------------------------- */

.about__createx ::before {
  content: "";
  position: absolute;
  top: -80px;
  right: -160px;
  background: url(/images/decor/1.svg);
  width: 100px;
  height: 85px;
  opacity: 0.2;
}

.about__createx {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 180px;
  position: relative;
}

.about__createx-content {
  max-width: 600px;
  margin-right: 30px;
}

.about__heading {
  margin-bottom: 48px;
}

.about__text {
  margin-bottom: 60px;
}
.about__paragraph {
  margin-bottom: 24px;
  transition: all 0.3s;
}

.about__paragraph:hover {
  transform: scale(1.1);
}

.about__paragraph:last-child {
  margin-bottom: 0;
}

.about__paragraph--accent {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
}

.about__btn-box {
  display: flex;
}

.about__btn {
  margin-right: 24px;
}

.about__btn:last-child {
  margin-right: 0;
}

.about__values {
  display: flex;
  justify-content: space-between;
}

.about__image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about__image-box {
  transition: all 0.6s;
  border-radius: 4px;
  overflow: hidden;
}

.about__image-box:hover {
  box-shadow: 0 0 20px 5px #d47b7b;
}

.about__nembers {
  margin-left: 30px;
  align-self: center;
  white-space: nowrap;
}

.about__nember {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  transition: all 0.3s;
}

.about__nember:hover {
  color: #d47b7b;
}

.about__nember:last-child {
  margin-bottom: 0;
}

.about__nember span {
  font-weight: 900;
  font-size: 48px;
  line-height: 130%;
  letter-spacing: 1px;
  color: #aa3232;
  margin-right: 16px;
}

/* ---------------------------------------------------------------derections-------------------------------------------------------------------------- */

.derections__heading {
  margin-bottom: 90px;
}

.derections__filter-box {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.derections__filter-item {
  margin-right: 45px;
  margin-bottom: 15px;
}

.derections__filter-item:last-child {
  margin-right: 0;
}

.derections__filter-btn {
  background-color: transparent;
  color: #838383;
  border: 1px solid #838383;
  border-radius: 4px;
  font-weight: 700;
  padding: 6px 8px;
  line-height: 1;
  font-size: 16px;
  white-space: nowrap;
}

.derections__filter-btn--active {
  background-color: #aa3232;
  border-color: #aa3232;
  color: #fff;
}

.derections__list {
  display: grid;
  grid-template: repeat(2, auto) / repeat(3, 1fr);
  gap: 30px;
}

.derections__list-item--empty {
  background-color: #948e8bea;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.derections__list-item--marketing .derections__link-teg {
  background-color: #7ac57a;
}

.derections__list-item--managment .derections__link-teg {
  background-color: #55559e;
}

.derections__list-item--hr .derections__link-teg {
  background-color: #a57316;
}

.derections__list-item--design .derections__link-teg {
  background-color: #b43434;
}

.derections__list-item--development .derections__link-teg {
  background-color: #914e91;
}

.derections__list-item--empty span {
  max-width: 240px;
}
.derections__list-link {
  display: block;
  border-radius: 4px;
  overflow: hidden;
  transition: all 1s;
}

.derections__list-link:hover {
  box-shadow: 0px 60px 80px -20px rgba(0, 0, 0, 0.4);
  transition: all 0.3s;
}

.derections__list-link:hover .derections__link-btn {
  color: #aa3232;
  transition: all 0.3s;
}

.derections__image-box img {
  width: 100%;
  height: 100%;
}

.derections__link-content {
  padding: 24px;
  display: flex;
  flex-direction: column;
  border: 1px solid #beb5b5;
  border-top: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.derections__link-teg {
  line-height: 1px;
  font-weight: 700;
  color: #fff;
  border-radius: 4px;
  background-color: #838383;
  align-self: flex-start;
  padding: 12px 10px;
  margin-bottom: 20px;
}

.derections__link-text {
  color: #838383;
  margin-bottom: 20px;
}

.derections__link-btn {
  color: #000000;
  display: flex;
  font-weight: 700;
  transition: all 1s;
}

.derections__link-btn::after {
  content: "";
  width: 24px;
  height: 24px;
  background: url("../images/icons/arrow-right-red.svg") 0 2px / 100% no-repeat;
  margin-left: 11px;
}

/* -------------------------------------------------------------------cert-------------------------------------------------------------------------- */

.cert__inner {
  display: flex;
  justify-content: space-between;
}

.cert__content {
  margin-right: 30px;
  max-width: 400px;
}

.cert__heading {
  margin-bottom: 50px;
}
.cert__text {
  margin-bottom: 30px;
}
.cert__logos {
  display: flex;
}
.cert__logos-item {
  margin-right: 40px;
  transition: all 0.4s;
}

.cert__logos-item:hover {
  transform: scale(1.2);
}

.cert__logos-item:last-child {
  margin-right: 0;
}

.cert__image-box {
  box-shadow: 0px 80px 80px -20px rgba(0, 0, 0, 0.4);
}

.cert__image-box img {
  transition: all 0.4s;
}

.cert__image-box img:hover {
  transform: scale(1.1);
  box-shadow: 0px 80px 80px -20px rgba(224, 85, 20, 0.4);
}

.cert__image-box img {
  width: 100%;
  height: 100%;
  /* object-fit: contain; */
}

/* -------------------------------------------------------------team ------------------------------------------------------------------------------ */

.team {
  background: url(../images/decor/team-bg.svg) 200px 30px no-repeat, #e3e8ec;
}

.team__heading {
  margin-bottom: 60px;
  position: relative;
}

.team__slider .slick-list {
  margin: 0 -15px;
}

.team__slide {
  padding: 0 15px;
}

.team__slide:hover {
  box-shadow: inset 0 0 0 #000000;
}

.team__image-box {
  border-radius: 4px;
  margin-bottom: 16px;
  overflow: hidden;
  position: relative;
}

.team__image {
  position: relative;
  height: 340px;
}

.team__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.team__socials {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 20px;
}

.team__socials-item {
  margin-right: 12px;
}

.team__socials-item:last-child {
  margin-right: 0;
}

.team__socials-link {
  display: block;
  line-height: 0;
  width: 24px;
  height: 24px;
  background-color: #000000;
  border-radius: 4px;
}

.team__socials-link path {
  fill: #838383;
  transition: all 0.3s;
}

.team__socials-link:hover path {
  fill: #ffffff;
}

.team__info {
  text-align: center;
}

.team__info-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 4px;
}

.team__info_position {
  color: #838383;
}

.team__slider-arrows {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
}

.team__slider-arrow {
  display: block;
  border-radius: 50%;
  line-height: 0;
  position: relative;
  z-index: 5;
}

.team__slider-arrows path {
  transition: all 0.3s;
}

.team__slider-arrow::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 48px;
  height: 48px;
  background-color: #aa3232;
  border-radius: 50%;
  z-index: -1;
  transition: all 0.3s;
}
.team__slider-arrow:hover path {
  fill: #fff;
}

.team__slider-arrow:hover::before {
  transform: translate(-50%, -50%) scale(1);
}

.team__slider-prev {
  margin-right: 24px;
}

.slick-dots {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.slick-dots li button {
  font-size: 0;
  padding: 0;
  margin: 0 3px;
  background-color: #838383;
  width: 30px;
  height: 3px;
  border-radius: 4px;
  transition: all 0.3s;
}

.slick-dots li.slick-active button {
  background-color: #000000;
}

/* -------------------------------------------------------------TESTIPMONIALS--------------------------------------------------------------------------------- */

.testimonials {
  background-color: #e9e9e9;
}

.testimonials__inner {
}

.testimonials__heading {
}

.testimonials__slider-wrapper {
  padding: 0 50px;
  position: relative;
  margin-bottom: 40px;
}

.testimonials__slider {
  max-width: 1020px;
  margin: 0 auto;
}

.testimonials__slide {
  padding: 64px;
  background-color: #ffffff;
  border-radius: 4px;
}

.testimonials__slide-inner {
  max-width: 810px;
  margin: 0 auto;
  padding-left: 58px;
}

.testimonials__qoute {
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 24px;
  position: relative;
}

.testimonials__qoute::before {
  content: "";
  position: absolute;
  top: 0;
  left: -58px;
  background: url("../images/icons/quote-icon.svg") 0 0 / 100% no-repeat;
  width: 28px;
  height: 20px;
}

.testimonials__user {
  display: flex;
  align-items: center;
}

.testimonials__avatar {
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
}

.testimonials__info {
}

.testimonials__info-name {
  font-weight: 700;
  margin-bottom: 4px;
}

.testimonials__info-position {
  color: #838383;
}

.testimonials__arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50px;
  display: flex;
  align-items: center;
  z-index: 5;
}

.testimonials__arrow path {
  transition: all 0.3s;
}

.testimonials__arrow::before {
  content: "";
  position: absolute;
  top: 50%;
  width: 48px;
  height: 48px;
  background-color: #aa3232;
  border-radius: 50%;
  z-index: -1;
  transition: all 0.3s;
}

.testimonials__prev {
  left: 0;
  justify-self: flex-start;
}

.testimonials__prev::before {
  transform: translate(-50%, -50%) scale(0);
  left: 22%;
}

.testimonials__next {
  right: 0;
  justify-content: flex-end;
}

.testimonials__next::before {
  transform: translate(50%, -50%) scale(0);
  right: 22%;
}

.testimonials__arrow:hover path {
  fill: #fff;
}

.testimonials__prev:hover::before {
  transform: translate(-50%, -50%) scale(1);
}

.testimonials__next:hover::before {
  transform: translate(50%, -50%) scale(1);
}

/* ----------------------------------------------------------------------companies-------------------------------------------------------------------------------------- */

.companies {
  background-color: #e9e9e9;
}

.companies__inner {
  text-align: center;
}

.companies__heading {
  margin-bottom: 60px;
}

.companies__grid {
  display: grid;
  grid-template: repeat(2, auto) / repeat(6, 1fr);
  gap: 40px 8.1%;
}

.companies__grid-item {
}

.companies__grid-link {
  display: block;
}

.companies__grid-link img {
  width: 100%;
  height: 100%;
  filter: grayscale(1);
  opacity: 0.5;
  transition: all 1.3s;
}

.companies__grid-link:hover img {
  opacity: 1;
  filter: grayscale(0);
  transition: all 0.3s;
}

/* --------------------------------------------------------------------acc-------------------------------------------------------------------------------------- */

.program {
}

.program__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.program__content {
  margin-right: 30px;
  max-width: 600px;
}

.program__heading {
  margin-bottom: 60px;
}

.program__acc {
}

.program__acc-item {
  margin-bottom: 24px;
}

.program__acc-item-link {
  display: block;
  padding-left: 40px;
}

.program__acc-item:last-child {
  margin-bottom: 0;
}

.program__acc-head {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  position: relative;
  margin-left: 40px;
}

.program__acc-head span {
  font-weight: 400;
  color: #af521c;
}

.program__acc-head::before,
.program__acc-head::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -40px;
  width: 18px;
  height: 2px;
  background-color: #af521c;
  border-radius: 2px;
}

.program__acc-head::after {
  transform: rotate(90deg);
  transition: all 0.3s;
}

.program__acc-link--active .program__acc-head::after {
  transform: rotate(0deg);
}

.program__acc-text {
  margin-top: 16px;
}

.program__image {
  flex-shrink: 0;
}

.program__image img {
  width: 100%;
  height: 100%;
}

/* -------------------------------------------------------blog------------------------------------------------------------------------- */

.main__bolg {
}
.blog {
}
.blog__inner {
}
.blog__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 60px;
}
.blog__heading {
  margin-right: 30px;
}
.blog__btn {
}
.blog__row {
  display: flex;
  margin: 0 -15px;
}
.blog__item {
  padding: 0 15px;
  flex: 0 1 33.333%;
}
.blog__link {
  display: block;
  transition: all 1.3s;
  height: 100%;
}
.blog__inner-item {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.blog__image-box {
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  margin-bottom: 16px;
}

.blog__image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog__image-box span {
  display: flex;
  align-items: center;
  position: absolute;
  top: 12px;
  left: 12px;
  background-color: #fff;
  border-radius: 4px;
  padding: 1px 8px;
}

.blog__image-box span::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

.blog__item-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.blog__item-info {
  display: flex;
  margin: 0 -12px 8px;
}

.blog__item-el {
  padding: 0 12px;
  position: relative;
  color: #838383;
}

.blog__item-el::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 12px;
  background-color: #838383;
}

.blog__item-el:last-child:after {
  content: none;
}
.blog__item-info-date {
  display: flex;
  align-items: center;
}
.blog__item-info-date::before {
  content: "";
  display: block;
  width: 16px;
  height: 15px;
  background: url(../images/icons/calendar-icon.svg) 0 0 / 100% no-repeat;
  margin-right: 9px;
}
.blog__item-time {
  display: flex;
  align-items: center;
}

.blog__item-time::before {
  content: "";
  display: block;
  width: 16px;
  height: 15px;
  background: url(../images/icons/clock-icon.svg) 0 0 / 100% no-repeat;
  margin-right: 9px;
}

.blog__item-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 8px;
}
.blog__item-text {
  margin-bottom: 16px;
  flex-grow: 1;
}
.blog__item-btn {
  display: flex;
  align-items: center;
  font-weight: 700;
  transition: all 0.3s;
}
.blog__item-btn::after {
  content: "";
  margin-left: 8px;
  width: 24px;
  height: 24px;
  background: url(../images/icons/arrow-right-red.svg) 0 0 / 100% no-repeat;
}

.blog__link:hover {
  box-shadow: 0px 60px 80px -20px rgba(0, 0, 0, 0.4);
  transition: all 0.3s;
}

.blog__link:hover .blog__item-btn {
  color: #aa3232;
  transition: all 0.3s;
}
.blog__item--podcast .blog__image-box span::before {
  background: url(../images/icons/podcast-icon.svg) 0 0 / 100% no-repeat;
}

.blog__item--video .blog__image-box span::before {
  background: url(../images/icons/play-mini.svg) 0 0 / 100% no-repeat;
}

.blog__item--article .blog__image-box span::before {
  background: url(../images/icons/article-icon.svg) 0 0 / 100% no-repeat;
}

.blog__item--podcast .blog__image-box {
  background-color: #a2d0f7;
}

.blog__item--video .blog__image-box {
  background-color: #caf0e3;
}

.blog__item--article .blog__image-box {
  background-color: #fff8aa;
}

/* --------------------------------------------------------------info---------------------------------------------------------------------------- */

.info {
}

.info__inner {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.info__content {
  margin-right: 30px;
}

.info__heading {
  margin-bottom: 40px;
}

.info__contacts {
  margin-bottom: 50px;
}
.info__contacts-item {
  margin-bottom: 24px;
  padding-left: 24px;
}

.info__contacts-item:last-child {
  margin-bottom: 0;
}

.info__item-top {
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  color: #838383;
  position: relative;
}

.info__item-top::before {
  content: "";
  position: absolute;
  top: 0;
  left: -36px;
  width: 24px;
  height: 24px;
}

.info__item-link {
  font-size: 18px;
  line-height: 150%;
  transition: all 0.3s;
}

.info__item-link:hover {
  color: #b43434;
}

.info__mail .info__item-top::before {
  background: url(../images/icons/chat-icon.svg) 0 0 / 100% no-repeat;
}

.info__tel .info__item-top::before {
  background: url(../images/icons/phone-icon.svg) 0 0 / 100% no-repeat;
}

.info__address .info__item-top::before {
  background: url(../images/icons/mark-icon.svg) 0 0 / 100% no-repeat;
}

.info__item-adderss {
  font-size: 18px;
  line-height: 150%;
}

.info__follow {
}
.follow__head {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 24px;
}
.info__social {
  display: flex;
}
.info__social-item {
  margin-right: 32px;
}

.info__social-item:last-child {
  margin-right: 0;
}
.info__social_link path {
  transition: all 0.3s;
}

.info__social_link:hover path {
  fill: #000000;
}
.info__map {
  width: 100%;
  height: 412px;
  max-width: none;
  overflow: hidden;
  border-radius: 4px;
}

/* -------------------------------------------------question------------------------------------------------------------------------ */

.question {
}

.question__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.question__img {
  min-width: 350px;
}

.question__img img {
  height: 100%;
  width: 100%;
}

.question__content {
  margin-left: 30px;
}

.question__heading {
  margin-bottom: 40px;
}

.question__form {
}

.question__form-row {
  display: flex;
  margin-bottom: 24px;
}

.question__form-label {
  margin-right: 25px;
  flex: 1 1 auto;
}

.question__form-label:last-child {
  margin-right: 0;
}

.question__text-label {
  display: block;
  margin-bottom: 50px;
}

.question__form-input,
.question__form-text {
  border: 1px solid #b3b3b3;
  border-radius: 4px;
  padding: 13px 16px;
  width: 100%;
  margin-top: 8px;
}

.question__form-input::placeholder,
.question__form-text::placeholder {
  color: #838383;
}

.question__form-input {
  display: block;
}

.question__form-text {
  resize: none;
  height: 128px;
}

.question__form-checkbox {
  position: relative;
  width: 16px;
  height: 16px;
  flex: 0 0 auto;
  margin: 5px 12px 0px 0px;
}

.question__form-default {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.question__form-default:checked + .question__form-custom {
  background: url(../images/icons/check.svg) 50% 50% no-repeat, #aa3232;
  border: 1px solid #aa3232;
}

.question__checkbox-label {
  margin-right: 60px;
  display: flex;
  width: 100%;
}

.question__form-custom {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #838383;
  border-radius: 3px;
  cursor: pointer;
}

.question__form-btn {
  width: 100%;
  align-self: center;
  text-align: center;
  font-size: 16px;
}

/* -----------------------------------------------------footer------------------------------------------------------------------------------------------- */

.footer {
  color: #fff;
}

.footer__top {
  background-color: #1e212c;
  padding: 80px 0 60px;
}

.footer__top-inner {
  display: flex;
  justify-content: space-between;
  margin: 0 -15px;
}

.footer__top-col {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}

.footer__top-col:first-child {
  max-width: 310px;
}

.footer__top-col:last-child {
  max-width: 315px;
}

.footer__logo {
  display: block;
  margin-bottom: 25px;
}

.footer__top-text {
  font-size: 12px;
  line-height: 150%;
  opacity: 0.6;
  margin-bottom: 38px;
}

.footer__social {
  display: flex;
}

.footer__social-item {
  margin-right: 20px;
}

.footer__social-item:last-child {
  margin-right: 0;
}

.footer__social_link path {
  transition: all 0.3s;
}

.footer__social_link:hover path {
  fill: #fff;
}

.footer__top-title {
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 12px;
  white-space: nowrap;
  pointer-events: none;
}

.footer__top-col:last-child .footer__top-title {
  white-space: normal;
}

.footer__top-list {
}

.footer__top-item {
  margin-bottom: 8px;
}

.footer__top-item:last-child {
  margin-bottom: 0;
}

.footer__item-link {
  opacity: 0.6;
  display: flex;
  align-items: center;
  transition: all 0.3s;
  white-space: nowrap;
}

.footer__item-link svg {
  margin-right: 8px;
}

.footer__item-link:hover {
  opacity: 1;
}

.footer__form-items {
  background: #ffffff1f;
  border: 1px solid #ffffff33;
  border-radius: 4px;
  margin-bottom: 12px;
  display: flex;
}

.footer__form {
}

.footer__form-input {
  padding: 9px 0px 9px 12px;
  font-size: 12px;
  line-height: 150%;
  color: #fff;
  width: 100%;
  position: relative;
  background: transparent;
}

.footer__form-input::placeholder {
  color: #fff;
  opacity: 0.6;
}

.footer__form-btn {
  background: transparent;
  padding: 10px 12px 10px 12px;
}

.footer__form-btn::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background: url(../images/icons/arrow-right-mini.svg);
  transition: all 0.3s;
}

.footer__form-btn:hover::before {
  transform: scale(1.2);
}

.footer__form-decs {
  font-size: 10px;
  line-height: 150%;
}

.footer__bottom {
  background-color: #343741;
}

.footer__bottom-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.footer__copy span {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../images/icons/heart-icon.svg) 0 0 / 100% no-repeat;
  vertical-align: sub;
}

.footer__go-top {
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  opacity: 0.6;
  text-transform: uppercase;
  transition: all 0.3s;
}

.footer__go-top:hover {
  opacity: 1;
}

/* ---------------------------------------------------------------------------@media--------------------------------------------------------------------------------------------- */

/* ==============================================================================1200================================================================================================== */

@media (max-width: 1200px) {
  .header__title {
    max-width: 376px;
    font-size: 52px;
  }

  .header__img {
    max-width: 450px;
  }

  /* ----------------------------------------- */

  .blog__item-info {
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 0 8px;
  }

  .blog__item-el {
    padding: 0;
  }

  .blog__item-el::after {
    content: none;
  }

  .blog__item-dir {
    order: 1;
  }

  .blog__item-info-date {
    flex-basis: 100%;
    order: 3;
  }

  .blog__item-time {
    order: 2;
  }
}

/* ==============================================================================1100================================================================================================== */
@media (max-width: 1100px) {
  .overlay {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    background: rgba(0, 0, 0, 0.34);
    opacity: 0;
    transition: all 0.3s;
  }

  .burger {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 150;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 0.3s;
  }

  .burger--follow {
    top: 15px;
    right: 15px;
    box-shadow: 0 1px 5px #79797e;
    background-color: #fff;
  }

  .burger span {
    display: block;
    height: 4px;
    width: 30px;
    background-color: #af521c;
    border-radius: 3px;
    margin: 4px 0;
  }

  .burger::before,
  .burger::after {
    content: "";
    display: block;
    height: 4px;
    width: 30px;
    background-color: #af521c;
    border-radius: 4px;
  }

  .header {
    padding-top: 92px;
  }

  .header__top {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #fff;
    z-index: 100;
    min-width: 320px;
    transform: translateX(100%);
    transition: all 0.6s;
  }

  .header__top--open {
    transform: translateX(0);
  }

  .header__top-inner {
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding: 100px 0;
  }

  .header__logo {
    margin: 0 0 30px 0;
  }

  .header__nav {
    text-align: center;
    margin: 0 auto;
    flex-grow: 1;
  }

  .header__nav-list {
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  .header__nav-item {
    margin: 0;
  }

  .header__nav-link {
    display: block;
    padding: 10px;
  }

  .header__btn-box {
    flex-direction: column-reverse;
  }

  .header__top-btn {
    margin: 0;
  }

  .header__user-nav {
    margin-bottom: 30px;
  }

  /* ----------------------------------------- */

  .heading__title {
    font-size: 37px;
  }

  .about__img {
    max-width: 400px;
  }

  /* ----------------------------------------- */

  .cert__inner {
    flex-direction: column;
    align-items: center;
  }

  .cert__content {
    margin: 0 0 30px 0;
  }

  .cert__heading {
    text-align: center;
  }

  /* ----------------------------------------- */

  .companies__grid {
    gap: 40px 5%;
  }

  /* ----------------------------------------- */

  .program__image {
    max-width: 400px;
  }

  /* ----------------------------------------- */
  .footer__top-inner {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .footer__top-col {
    margin-bottom: 30px;
  }

  .footer__top-col:first-child {
    flex-basis: 100%;
    max-width: none;
    margin-bottom: 30px;
  }

  .footer__top-col:last-child {
    flex-basis: 100%;
    max-width: none;
    margin-bottom: 0;
  }

  .footer__form-items {
    max-width: 315px;
  }
}

/* ==============================================================================1000=================================================================================================== */

@media (max-width: 1000px) {
  .program__image {
    display: none;
  }

  .program__content {
    margin-right: 0;
  }
}

/* ==============================================================================900=================================================================================================== */

@media (max-width: 900px) {
  .header__content {
    margin: 0;
  }
  .header__img {
    display: none;
  }

  .header__row {
    display: none;
  }

  /* ----------------------------------------- */

  .about__img {
    display: none;
  }

  /* ----------------------------------------- */

  .derections__filter-item {
    margin-right: 10px;
  }

  .derections__list {
    gap: 10px;
  }

  .derections__link-content {
    padding: 24px 5px 5px 5px;
  }

  /* ----------------------------------------- */

  .companies__grid {
    grid-template: repeat(3, auto) / repeat(4, 1fr);
  }

  /* ----------------------------------------- */

  .blog__row {
    flex-direction: column;
    margin: 0;
    align-items: center;
  }

  .blog__item {
    padding: 0 0 30px 0;
  }

  .blog__image-box {
    display: flex;
    justify-content: center;
  }

  .blog__image-box img {
    width: auto;
  }

  /* ----------------------------------------- */

  .info__inner {
    flex-direction: column;
    align-items: flex-start;
  }

  .info__content {
    margin: 0 0 30px 0;
  }

  .info__map {
    height: 200px;
  }

  /* ----------------------------------------- */

  .question__img {
    display: none;
  }

  .question__content {
    margin: 0;
    width: 100%;
  }
}

/* ==============================================================================700=================================================================================================== */

@media (max-width: 700px) {
  .about__createx {
    margin-bottom: 60px;
  }

  .about__values {
    flex-direction: column;
  }

  .about__image-box {
    display: none;
  }

  .about__nembers {
    margin: 0;
    align-self: flex-start;
  }

  /* ----------------------------------------- */

  .derections__list {
    display: grid;
    grid-template: repeat(3, auto) / repeat(2, 1fr);
    gap: 30px;
  }

  /* ----------------------------------------- */

  .testimonials__slider-wrapper {
    padding: 0;
  }

  .testimonials__slide {
    padding: 30px 15px;
  }

  .testimonials__arrow {
    display: none;
  }
}

/* ==============================================================================550=================================================================================================== */

@media (max-width: 550px) {
  .heading {
    margin-bottom: 30px;
  }

  .heading__subtitlr {
    font-size: 14px;
    margin: 0;
  }

  .heading__title {
    font-size: 25px;
  }

  /* ----------------------------------------- */
  .main__about,
  .main__program {
    padding: 60px 0 100px;
  }

  .main__derections {
    padding-bottom: 100px;
  }

  .main__team {
    padding: 120px 0 100px;
  }

  .main__testimonials {
    padding-bottom: 100px;
  }

  .main__companies,
  .main__bolg,
  .main__info {
    padding-bottom: 40px;
  }

  .main__question {
    padding-bottom: 40px;
  }

  .main__footer {
  }
  /* ----------------------------------------- */

  .about__text {
    margin-bottom: 30px;
  }

  .about__paragraph {
    font-size: inherit;
    margin-bottom: 10px;
  }

  .about__btn-box {
    flex-direction: column;
    align-items: flex-start;
  }

  .about__btn {
    margin: 0 0 30px 0;
  }

  .about__btn:last-child {
    margin: 0;
  }

  /* ----------------------------------------- */

  .derections__list {
    grid-template: none;
  }

  /* ----------------------------------------- */

  .team__image-box {
    max-width: 300px;
    margin: 0 auto 16px;
  }

  .team__slider-arrow {
    display: none;
  }

  /* ----------------------------------------- */

  .slick-dots {
    margin-top: 30px;
  }

  .testimonials__slide-inner {
    padding: 30px;
  }

  .testimonials__qoute {
    font-size: inherit;
    line-height: inherit;
  }

  .testimonials__qoute::before {
    left: -30px;
    width: 20px;
  }

  /* ----------------------------------------- */

  .companies__grid {
    grid-template: repeat(4, auto) / repeat(3, 1fr);
  }

  /* ----------------------------------------- */

  .program__acc-head {
    font-size: inherit;
    line-height: inherit;
  }

  /* ----------------------------------------- */

  .blog__top {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 30px;
  }

  /* ----------------------------------------- */

  .question__form-row {
    flex-direction: column;
  }

  .question__form-label {
    font-size: 14px;
    margin: 0 0 24px 0;
  }

  .question__form-label:last-child {
    margin: 0 0 0 0;
  }

  .question__form-input,
  .question__form-text {
    margin-top: 0;
  }
  .question__text-label {
    font-size: 14px;
  }

  .question__checkbox-label {
    font-size: 14px;
    margin: 0 0 24px 0;
  }

  /* ----------------------------------------- */

  .footer__top-inner {
    flex-direction: column;
  }

  .footer__top-title--slide {
    pointer-events: auto;
    margin: 0;
  }

  .footer__top-list {
    margin-top: 13px;
    display: none;
  }

  .footer__bottom-inner {
    flex-direction: column-reverse;
  }

  .footer__go-top {
    margin-bottom: 15px;
  }

  /* ----------------------------------------- */
}

/* ==============================================================================450=================================================================================================== */

@media (max-width: 450px) {
  .header__top {
    max-width: none;
    left: 0;
  }

  /* ----------------------------------------- */

  .header__title {
    max-width: none;
    font-size: 40px;
  }

  .header__content-buttons {
    flex-direction: column;
    align-items: flex-start;
  }

  .header__content-btn {
    margin: 0 0 30px 0;
    text-align: center;
  }

  /* ----------------------------------------- */

  .derections__filter-box {
    margin-bottom: 15px;
  }

  .derections__list-item--empty {
    display: none;
  }

  /* ----------------------------------------- */

  .cert__logos {
    align-items: center;
    flex-direction: column;
  }

  .cert__logos-item {
    margin: 0 0 30px 0;
  }

  .cert__logos-item:last-child {
    margin: 0;
  }
  /* ----------------------------------------- */

  .slick-dots {
    margin-top: 15px;
  }

  /* ----------------------------------------- */

  .companies__grid {
    grid-template: repeat(6, auto) / repeat(2, 1fr);
  }

  /* ----------------------------------------- */

  .info__social-item {
    margin-right: 15px;
  }
}
